*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  line-height: 1.7;
  background-size: cover;
  background-position: center;
}

.bg {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.9);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.9);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    /*ENDS*/
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.animation-right {
  animation: moveInRight 1s ease-out;
}

.animation-left {
  animation: moveInLeft 1s ease-out;
}

.animation-bottom {
  animation: moveInBottom 1s ease-out;
}

.display-none {
  display: none;
}

.active {
  background-color: #57c7d2;
}
.active__textColor {
  color: #fff !important;
}

.red-star {
  color: red;
}

.text-color {
  color: #f8b027;
  font-size: 1.6rem;
}
@media only screen and (max-width: 31.25em) {
  .text-color {
    font-size: 1.2rem;
  }
}

.text-color-2 {
  color: #afbfc4;
}
.text-color-2::after {
  position: absolute;
  content: '';
  background: #ee1f25;
  top: 66%;
  left: 25%;
  height: 2px;
  width: 25px;
  transform: rotate(45deg);
}
@media only screen and (max-width: 75em) {
  .text-color-2::after {
    left: 25%;
  }
}
@media only screen and (max-width: 56.25em) {
  .text-color-2::after {
    left: 13%;
  }
}
@media only screen and (max-width: 37.5em) {
  .text-color-2::after {
    top: 50%;
  }
}
@media only screen and (max-width: 31.25em) {
  .text-color-2::after {
    left: 8%;
    top: 70%;
  }
}
@media only screen and (max-width: 25.25em) {
  .text-color-2::after {
    top: 48%;
    left: 12%;
  }
}

.text-color-extraSmall {
  color: #afbfc4;
}
.text-color-extraSmall::after {
  position: absolute;
  content: '';
  background: #ee1f25;
  top: 66%;
  left: 28%;
  height: 2px;
  width: 25px;
  transform: rotate(45deg);
}
@media only screen and (max-width: 56.25em) {
  .text-color-extraSmall::after {
    left: 25%;
  }
}
@media only screen and (max-width: 37.5em) {
  .text-color-extraSmall::after {
    left: 18%;
  }
}
@media only screen and (max-width: 31.25em) {
  .text-color-extraSmall::after {
    left: 10%;
  }
}

.text-h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #2b6877;
}

.prima-text {
  font-size: 3.5rem;
  font-weight: 700;
  color: #57c7d2;
}

.fas {
  background: #e8f6f8;
  color: #59c5d1;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  font-weight: 800;
  margin-right: 1rem;
}

.padding-right {
  padding: -5rem;
}

.h2-styling {
  color: #4b7680;
  font-size: 3rem;
  font-weight: 800;
}

.p-styling {
  color: #a0b0b7;
  font-size: 1.7rem;
  font-weight: 600;
}

.border {
  border: 2px solid #5cc7d2 !important;
}

.active_orange {
  background-color: #f9b126 !important;
  color: #fff !important;
}

.active_grey {
  background-color: #f5f5f5 !important;
  position: relative;
}

.grey_text {
  color: #a4b5b9 !important;
  font-size: 1.25rem;
}

.registruotis {
  border: 2px solid #47bdc9;
  border-radius: 3rem;
  background-color: #5cc7d2;
  padding: 0.75rem;
}
@media only screen and (max-width: 37.5em) {
  .registruotis {
    padding: 0rem;
    border: none;
    font-size: 1rem !important;
    border-radius: 0;
    background-color: #fff;
  }
}
@media only screen and (max-width: 31.25em) {
  .registruotis {
    padding: 0rem;
    border: none;
    font-size: 1rem !important;
    border-radius: 0;
    background-color: #fff;
  }
}

.font-size {
  font-size: 1.5rem;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .font-size {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .font-size {
    font-size: 1rem;
  }
}

.margin-top {
  margin-top: 3.8rem !important;
}

.margin-left {
  margin-left: 50rem;
}

.margin-right {
  margin-right: 50rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  grid-gap: 5rem;
  width: 100%;
  height: 25rem;
  background-color: #54c3ce;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    height: 30rem;
    margin-top: -8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer {
    height: 32rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .footer {
    height: 39rem;
    margin-top: -5rem;
    height: 40rem;
  }
}
.footer__img {
  width: 25rem;
  height: 30rem;
  grid-column: 7 / -1;
  margin-top: -5rem;
}
@media only screen and (max-width: 75em) {
  .footer__img {
    width: 25rem;
    height: 30rem;
    margin-top: -3rem;
    margin-left: -8rem;
  }
}
@media only screen and (max-width: 68.75em) {
  .footer__img {
    width: 25rem;
    height: 30rem;
    margin-left: -6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__img {
    display: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__img {
    display: none;
  }
}
.footer__icon {
  width: 25rem;
  height: 30rem;
}
@media only screen and (max-width: 75em) {
  .footer__icon {
    width: 20rem;
    height: 25rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__icon {
    width: 20rem;
    height: 24rem;
  }
}
.footer__copyrights {
  color: #fff;
  text-align: center;
  flex: 0 0 100%;
  height: 5rem;
  background-color: #127781;
}
.footer__copyrights-p {
  padding: 1.5rem;
}

.about {
  grid-column: 2 / 5;
}
@media only screen and (max-width: 56.25em) {
  .about {
    grid-column: 1 / 5;
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .about {
    grid-column: 1 / 6;
  }
}
.about__h2 {
  margin-top: 2rem;
  color: #1e777f;
  font-size: 2.5rem;
  font-weight: 900;
}
@media only screen and (max-width: 31.25em) {
  .about__h2 {
    font-size: 1.5rem;
  }
}
.about__p {
  color: #fff;
  font-size: 1.2rem;
}
@media only screen and (max-width: 31.25em) {
  .about__p {
    font-size: 1rem;
  }
}
.about__keywords {
  font-weight: 600;
  font-size: 1.2rem;
  color: #1e777f;
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  width: 12rem;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 10rem;
}
@media only screen and (max-width: 68.75em) {
  .about__keywords {
    padding: 0rem;
  }
}

.rekvizitai {
  grid-column: 5 / 7;
}
@media only screen and (max-width: 56.25em) {
  .rekvizitai {
    grid-column: 5 / 8;
  }
}
@media only screen and (max-width: 37.5em) {
  .rekvizitai {
    grid-column: 6 / -1;
  }
}
@media only screen and (max-width: 31.25em) {
  .rekvizitai {
    grid-column: 6 / -1;
    margin-left: -3rem;
  }
}

.navbar {
  position: relative;
  margin-top: -10rem;
  background-color: #fff;
  width: 100%;
  box-shadow: 15px 17px 25px 15px rgba(153, 118, 118, 0.2);
}
.navbar__items {
  cursor: pointer;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  margin: 0 auto;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .navbar__items {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
@media only screen and (max-width: 56.25em) {
  .navbar__items {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
.navbar__span-1 {
  position: absolute;
  right: 85%;
  top: -60%;
}
@media only screen and (max-width: 75em) {
  .navbar__span-1 {
    display: none;
  }
}
@media only screen and (max-width: 68.75em) {
  .navbar__span-1 {
    top: -5%;
  }
}
@media only screen and (max-width: 56.25em) {
  .navbar__span-1 {
    right: 75%;
  }
}
@media only screen and (max-width: 37.5em) {
  .navbar__span-1 {
    right: 70%;
    top: 20%;
  }
}
@media only screen and (max-width: 31.25em) {
  .navbar__span-1 {
    right: 75%;
    top: 20%;
  }
}
.navbar__span-2 {
  position: absolute;
  right: 8%;
  top: -60%;
}
@media only screen and (max-width: 75em) {
  .navbar__span-2 {
    display: none;
  }
}
@media only screen and (max-width: 68.75em) {
  .navbar__span-2 {
    display: none;
  }
}
.navbar__item {
  height: 8rem;
  text-decoration: none;
  padding: 2rem;
  display: flex;
  align-items: center;
  align-content: center;
}
.navbar__item:focus {
  border: none;
}
@media only screen and (max-width: 31.25em) {
  .navbar__item {
    padding: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navbar__item {
    padding: 1rem;
  }
}
.navbar__item:hover {
  color: black !important;
  background-color: #57c7d2;
  transition: 0.3s;
  box-shadow: 0 2.5rem 4rem rgba(153, 118, 118, 0.3);
}
.navbar__icon {
  margin-right: 1.5rem;
}
@media only screen and (max-width: 31.25em) {
  .navbar__icon {
    width: 2rem;
    height: 2.5rem;
  }
}
.navbar__logo {
  height: 16rem;
  width: 13rem;
}
@media only screen and (max-width: 31.25em) {
  .navbar__logo {
    height: 10rem;
    width: 8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navbar__logo {
    height: 12rem;
    width: 10rem;
    display: inline-block;
    margin: 0 auto;
  }
}
.navbar__h3 {
  font-size: 1.5rem;
  color: #4b7680;
}
@media only screen and (max-width: 56.25em) {
  .navbar__h3 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navbar__h3 {
    font-size: 1rem;
  }
}

.header {
  width: 100%;
  height: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: -35rem;
}
@media only screen and (max-width: 31.25em) {
  .header {
    margin-bottom: -2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    margin-bottom: -13rem;
  }
}
.header__logo {
  margin-top: -5rem;
  height: 30rem;
  width: 25rem;
}
@media only screen and (max-width: 31.25em) {
  .header__logo {
    margin-top: -5.5rem;
    height: 20rem;
    width: 18rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo {
    margin-top: -5.5rem;
    height: 20rem;
    width: 18rem;
  }
}
.header__num {
  cursor: pointer;
  margin-top: -5rem;
  font-weight: 700;
  display: flex;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #fff;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
@media only screen and (max-width: 31.25em) {
  .header__num {
    margin-top: -3.5rem;
    font-size: 1rem;
    padding: 0.25;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__num {
    font-size: 1rem;
    padding: 0.25;
  }
}
.header__icon {
  margin-right: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}
@media only screen and (max-width: 31.25em) {
  .header__icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.form {
  margin: 0 auto;
  width: 45%;
  border-radius: 15px;
  background-color: #fff;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 68.75em) {
  .form {
    width: 70%;
  }
}
@media only screen and (max-width: 56.25em) {
  .form {
    width: 90%;
  }
}
@media only screen and (max-width: 37.5em) {
  .form {
    font-size: 1rem;
    width: 90%;
  }
}
.form__ellipse {
  position: absolute;
  left: 71%;
  top: 50%;
}
@media only screen and (max-width: 68.75em) {
  .form__ellipse {
    display: none;
  }
}
.form__ellipse-left {
  z-index: 999;
  position: absolute;
  left: 21%;
  top: 45%;
}
@media only screen and (max-width: 68.75em) {
  .form__ellipse-left {
    display: none;
  }
}
.form__path95 {
  position: absolute;
  left: 21%;
  top: 53%;
}
@media only screen and (max-width: 68.75em) {
  .form__path95 {
    display: none;
  }
}
.form__size {
  width: 8rem;
  height: 20rem;
}
@media only screen and (max-width: 68.75em) {
  .form__size {
    display: none;
  }
}
.form__size-1 {
  width: 15rem;
  height: 15rem;
}
@media only screen and (max-width: 68.75em) {
  .form__size-1 {
    display: none;
  }
}
.form__path93 {
  position: absolute;
  left: 71%;
  top: 64%;
}
@media only screen and (max-width: 68.75em) {
  .form__path93 {
    display: none;
  }
}
.form__logo {
  display: block;
  position: absolute;
  height: 17rem;
  width: 17rem;
  top: 10%;
  left: 44%;
}
@media only screen and (max-width: 68.75em) {
  .form__logo {
    left: 40%;
  }
}
@media only screen and (max-width: 56.25em) {
  .form__logo {
    left: 40%;
  }
}
@media only screen and (max-width: 37.5em) {
  .form__logo {
    top: 18%;
    height: 12rem;
    width: 12rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .form__logo {
    left: 35%;
    height: 12rem;
    width: 12rem;
  }
}

.form__left {
  position: relative;
}

.form__left-slideout {
  position: fixed;
  top: 40%;
  z-index: 99;
  background: #fff;
  transition-duration: 0.6s;
  border-radius: 0px 10px 10px 0px;
  padding: 1rem;
}

.form__left-slideout:hover .form__left-slider {
  left: 5rem;
}

.form__left-contact {
  color: #4a7681;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  transform: rotate(270deg);
  display: flex;
  z-index: 99999999999;
  font-size: 1.9rem;
  font-weight: 700;
  padding-right: 1.7rem;
}

.form__left-slider {
  background: #fff;
  position: fixed;
  top: 40%;
  left: -20rem;
  transition-duration: 0.6s;
  width: 20rem;
  height: 17rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #4a7681;
  padding-left: 2rem;
  padding-top: 1rem;
}

.form__left-slider a {
  color: #4a7681;
}

@media only screen and (max-width: 56.25em) {
  .form__left {
    display: none;
  }
}

.form__right {
  position: relative;
}

.form__right-slideout {
  position: fixed;
  top: 40%;
  right: 0%;
  z-index: 99;
  background: #fff;
  transition-duration: 0.6s;
  border-radius: 10px 0px 0px 10px;
}

.form__right-contact {
  color: #4a7681;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  transform: rotate(270deg);
  display: flex;
  z-index: 99999999999;
  font-size: 1.5em;
  font-weight: 700;
}

.form__icon-right {
  height: 5rem;
  width: 5rem;
}

/* .form__right-slider {
  background: #fff;
  position: fixed;
  top: 40%;
  left: -20rem;
  transition-duration: 0.6s;
  width: 20rem;
  height: 17rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #4a7681;
  padding-left: 2rem;
  padding-top: 1rem;
} */

@media only screen and (max-width: 56.25em) {
  .form__right {
    display: none;
  }
}
.form__h1 {
  text-align: center;
  color: #fff;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: #f9b126;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .form__h1 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .form__h1 {
    font-size: 1rem;
  }
}
.form__group {
  height: 25%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.form__label {
  display: flex;
  border-radius: 5rem;
  box-shadow: 0px 17px 25px 0px rgba(153, 118, 118, 0.3);
  padding: 1rem;
}
.form__icon {
  width: 2rem;
  height: 2rem;
  margin: 0rem 2rem 0 2rem;
}
.form__input {
  border: none;
  background-color: transparent;
}
.form__input:focus {
  outline: none;
}
.form__btndiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.form__btn {
  width: 80%;
  background-color: #56c7d3;
  border-radius: 3rem;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}
.form__btn:focus {
  outline: none;
}

.form__btn:hover {
  color: #f9b126;
  cursor: pointer;
}

.video {
  margin-bottom: -10rem;
  position: relative;
  margin: 15rem auto;
  display: grid;
  justify-content: center;
}
.video__frame {
  overflow: hidden;
  position: relative;
  z-index: 2;
  width: 75rem;
  height: 50rem;
  background-color: #f2f8fb;
  border: 1.5rem solid #fff;
  box-shadow: 0px 17px 25px 0px rgba(153, 118, 118, 0.2);
}
@media only screen and (max-width: 68.75em) {
  .video__frame {
    width: 70rem;
    height: 40rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .video__frame {
    width: 60rem;
    height: 30rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .video__frame {
    width: 50rem;
    height: 25rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .video__frame {
    width: 30rem;
    height: 15rem;
    margin: 0 auto;
  }
}
.video__logo {
  height: 18rem;
  width: 15rem;
  position: absolute;
  z-index: 2;
  left: 38rem;
  bottom: 43rem;
  transform: rotate(-36deg);
  z-index: 1;
}
@media only screen and (max-width: 75em) {
  .video__logo {
    display: none;
  }
}
.video__h1 {
  color: #4b7680;
  font-size: 2.5rem;
  margin-top: -12.5rem;
  font-weight: 600;
  text-align: center;
}
@media only screen and (max-width: 68.75em) {
  .video__h1 {
    font-size: 2rem;
  }
}
.video__icon {
  fill: #d5e3e9;
}
@media only screen and (max-width: 31.25em) {
  .video__icon {
    height: 5rem;
    width: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .video__icon {
    height: 5rem;
    width: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .video__icon {
    height: 12rem;
    width: 8rem;
  }
}

.mokymai {
  margin-top: 4rem;
  height: 25rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 68.75em) {
  .mokymai {
    margin-bottom: 17.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .mokymai {
    margin-bottom: 25rem;
  }
}
.mokymai__header {
  color: #4b7680;
  display: grid;
  width: 100%;
  justify-items: center;
}
@media only screen and (max-width: 68.75em) {
  .mokymai__header {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .mokymai__header {
    margin-bottom: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .mokymai__header {
    margin-bottom: 12rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .mokymai__header {
    margin-bottom: 12rem;
  }
}
.mokymai__h2 {
  font-size: 3rem;
  font-weight: 800;
}
.mokymai__p {
  margin-top: -1rem;
  font-size: 1.5rem;
}
.mokymai__container {
  width: 100%;
  height: 100%;
  display: flex;
}
@media only screen and (max-width: 68.75em) {
  .mokymai__container {
    margin-bottom: 5rem;
  }
}
.mokymai__klases {
  height: 80%;
  flex: 0 0 40%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  gap: 3px;
  justify-content: center;
  align-content: center;
  margin-left: 18rem;
}
@media only screen and (max-width: 68.75em) {
  .mokymai__klases {
    margin-left: 10rem;
    margin-bottom: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .mokymai__klases {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .mokymai__klases {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
}

.mokymai__klases-nr {
  cursor: pointer;
  font-weight: 900;
  color: #4b7680;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  border: 2px solid #eaedee;
  border-radius: 1.5rem;
}

.mokymai__klases-nr:hover {
  border: 2px solid #5cc7d2 !important;
}

.mokymai__klases-h3 {
  color: #4b7680;
  font-size: 3rem;
  grid-column: 1 / -1;
}
.mokymai__dalykas {
  overflow: hidden;
  margin-left: 5rem;
  height: 80%;
  flex: 0 0 25%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  justify-content: center;
  align-content: center;
  gap: 3px;
}
@media only screen and (max-width: 68.75em) {
  .mokymai__dalykas {
    margin-left: 10rem;
    margin-bottom: 10rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .mokymai__dalykas {
    margin-left: 5.5rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .mokymai__dalykas {
    margin-left: 3rem;
  }
}

.tvarkarastis {
  margin: 0 auto 15rem;
  width: 85%;
}
@media only screen and (max-width: 37.5em) {
  .tvarkarastis {
    width: 100%;
  }
}
@media only screen and (max-width: 31.25em) {
  .tvarkarastis {
    width: 100%;
  }
}
.tvarkarastis__div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 1.5rem;
}
@media only screen and (max-width: 31.25em) {
  .tvarkarastis__div {
    grid-gap: 0;
  }
}
.tvarkarastis__table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border-style: hidden;
  /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 2px #eaedee;
  /* this draws the table border  */
}
@media only screen and (max-width: 37.5em) {
  .tvarkarastis__table {
    width: 95%;
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .tvarkarastis__table {
    width: 80%;
    margin-left: 2rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 25.25em) {
  .tvarkarastis__table {
    width: 68%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
  }
}

td,
tr,
th {
  border: 2px solid #eaedee;
  font-weight: 700;
  color: #11565d;
  font-size: 1.25rem;
  padding: 1rem;
}
@media only screen and (max-width: 37.5em) {
  td,
  tr,
  th {
    padding: 0.1rem;
    font-weight: 100;
    font-size: 0.25rem;
  }
}
@media only screen and (max-width: 31.25em) {
  td,
  tr,
  th {
    font-weight: 100;
    font-size: 0.25rem;
    padding: 0.1rem !important;
  }
}

.kontaktai {
  margin-top: 2.5rem;
  width: 100%;
  height: 30rem;
  background-image: url(../img/background.png);
}
@media only screen and (max-width: 31.25em) {
  .kontaktai {
    margin-top: 2.5rem;
    width: 100%;
  }
}
.kontaktai__header {
  width: 80%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
}
@media only screen and (max-width: 37.5em) {
  .kontaktai__header {
    width: 100%;
  }
}
.kontaktai__header-1 {
  margin-top: 5rem;
}
@media only screen and (max-width: 68.75em) {
  .kontaktai__header-1 {
    margin-right: 2.5rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .kontaktai__header-1 {
    margin-top: 1rem;
  }
}
.kontaktai__header-2 {
  margin-top: 9.75rem;
}
@media only screen and (max-width: 31.25em) {
  .kontaktai__header-2 {
    margin-top: 3.7rem;
  }
}
.kontaktai__header-logo {
  margin-top: -28rem;
  height: 38rem;
  width: 30rem;
}
@media only screen and (max-width: 68.75em) {
  .kontaktai__header-logo {
    width: 20rem;
    height: 25rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .kontaktai__header-logo {
    width: 15rem;
    height: 18rem;
    margin-top: -15rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .kontaktai__header-logo {
    display: none;
  }
}
.kontaktai__header-info {
  font-size: 2.5rem;
  color: #fff;
}
@media only screen and (max-width: 31.25em) {
  .kontaktai__header-info {
    font-size: 1.5rem;
    text-align: center;
  }
}
.kontaktai__header-info1 {
  font-size: 2.5rem;
  color: #fff;
}
@media only screen and (max-width: 31.25em) {
  .kontaktai__header-info1 {
    font-size: 1.5rem;
  }
}
.kontaktai__header-info1::after {
  background-color: #3c9ea7;
  height: 4px;
  width: 4.5rem;
  content: '';
  display: block;
}
.kontaktai__header-miestas {
  font-size: 2.5rem;
  color: #1e777f;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 31.25em) {
  .kontaktai__header-miestas {
    font-size: 1.5rem;
  }
}
.kontaktai__header-rekvizitai {
  color: #fff;
  font-size: 1.5rem;
}
@media only screen and (max-width: 31.25em) {
  .kontaktai__header-rekvizitai {
    font-size: 1rem;
  }
}
.kontaktai__header-image {
  margin-top: 2.5rem;
  border: 8px solid #fff;
  box-shadow: 0px 17px 25px 0px rgba(153, 118, 118, 0.2);
}
@media only screen and (max-width: 68.75em) {
  .kontaktai__header-image {
    width: 20rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .kontaktai__header-image {
    width: 20rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .kontaktai__header-image {
    border: none;
    width: 10rem;
    height: 10rem;
  }
}
.kontaktai__paragraph {
  display: inline-block;
  margin-top: 5rem;
  margin-left: 15rem;
  width: 80%;
}
@media only screen and (max-width: 68.75em) {
  .kontaktai__paragraph {
    width: 75%;
  }
}
@media only screen and (max-width: 56.25em) {
  .kontaktai__paragraph {
    width: 95%;
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .kontaktai__paragraph {
    margin-top: 15rem;
  }
}
.kontaktai__paragraph-h2 {
  color: #f9b126;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.kontaktai__paragraph-h2::after {
  background-color: #3c9ea7;
  height: 4px;
  width: 4.5rem;
  content: '';
  display: block;
}
.kontaktai__paragraph-p {
  display: inline-block;
  color: #4b7680;
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
}

.faktai {
  margin-top: 65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 17px 25px 0px rgba(15, 12, 12, 0.8);
}
@media only screen and (max-width: 68.75em) {
  .faktai {
    margin-top: 60rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .faktai {
    margin-top: 62.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .faktai {
    margin-top: 68rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .faktai {
    margin-top: 75rem;
  }
}
.faktai__div {
  margin-bottom: 5rem;
  flex: 0 0 28rem;
  display: grid;
  align-items: center;
  justify-items: center;
}
@media only screen and (max-width: 75em) {
  .faktai__div {
    flex: 0 0 25rem;
  }
}
@media only screen and (max-width: 68.75em) {
  .faktai__div {
    flex: 0 0 36rem;
  }
}
.faktai__div-img {
  cursor: pointer;
  height: 5rem;
  width: 5rem;
}
.faktai__div-span {
  margin-top: 3rem;
  background-color: #fcd893;
  padding: 1.5rem;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(202, 107, 19, 0.9);
  animation: pulse 2s infinite;
}
.faktai__div-p {
  width: 80%;
  text-align: center;
  color: #4b7680;
  font-size: 1.4rem;
  padding-top: 1.5rem;
}
.faktai__btn {
  position: relative;
  display: block;
  width: 100%;
  height: 5rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .faktai__btn {
    width: 150%;
  }
}
.faktai__btn-link1 {
  text-align: center;
  background-color: #f9b126;
  padding: 1rem 4rem;
  border-radius: 10rem;
  position: absolute;
  z-index: 5;
  right: 51%;
  top: 0;
  left: 20%;
  bottom: 0;
}
@media only screen and (max-width: 56.25em) {
  .faktai__btn-link1 {
    right: 45%;
    top: 0;
    left: 25%;
    bottom: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .faktai__btn-link1 {
    right: 44%;
    top: 0;
    left: 25%;
    bottom: 0;
  }
}
@media only screen and (max-width: 31.25em) {
  .faktai__btn-link1 {
    padding: 1rem 2rem;
    right: 45%;
    top: 0;
    left: 25%;
    bottom: 0;
  }
}
.faktai__btn-link1:link,
.faktai__btn-link1:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
}
@media only screen and (max-width: 31.25em) {
  .faktai__btn-link1:link,
  .faktai__btn-link1:visited {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .faktai__btn-link1:link,
  .faktai__btn-link1:visited {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}
.faktai__btn-link2 {
  text-align: center;
  border: 2px solid #eaedee;
  padding: 1rem 4rem;
  border-radius: 10rem;
  position: absolute;
  right: 27%;
  top: 0;
  left: 45%;
  bottom: 0;
}
@media only screen and (max-width: 56.25em) {
  .faktai__btn-link2 {
    right: 17%;
    top: 0;
    left: 45%;
    bottom: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .faktai__btn-link2 {
    right: 16%;
    top: 0;
    left: 48%;
    bottom: 0;
  }
}
@media only screen and (max-width: 31.25em) {
  .faktai__btn-link2 {
    padding: 1rem 2rem;
    right: 18%;
    top: 0;
    left: 48%;
    bottom: 0;
  }
}
.faktai__btn-link2:link,
.faktai__btn-link2:visited {
  color: #4b7680;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
}
@media only screen and (max-width: 31.25em) {
  .faktai__btn-link2:link,
  .faktai__btn-link2:visited {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .faktai__btn-link2:link,
  .faktai__btn-link2:visited {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

.map {
  background-color: #ecf0f3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
@media only screen and (max-width: 56.25em) {
  .map {
    background-color: #ecf0f3;
    height: 110rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .map {
    width: 100%;
    height: 120rem;
  }
}
.map__img {
  flex: 0 0 50%;
}

@media only screen and (max-width: 56.25em) {
  .map__img {
    flex: 0 0 100%;
    margin-bottom: -15rem;
  }
}

#mapContainer {
  width: 95%;
  height: 520px;
}

@media only screen and (max-width: 56.25em) {
  #mapContainer {
    width: 99%;
  }
}

.map__info {
  flex: 1 1 50%;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .map__info {
    flex: 0 0 90%;
    margin-top: 2.5rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .map__info {
    margin-top: -3rem;
  }
}

.map__info-h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #4b7680;
}
@media only screen and (max-width: 68.75em) {
  .map__info-h3 {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .map__info-h3 {
    margin-top: 3rem;
  }
}
.map__info-h4 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #4b7680;
}
@media only screen and (max-width: 75em) {
  .map__info-h4 {
    font-size: 1.5rem;
    font-weight: 0;
  }
}
@media only screen and (max-width: 68.75em) {
  .map__info-h4 {
    font-size: 1.5rem;
    font-weight: 0;
  }
}
.map__bus {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-radius: 10rem;
  margin: 0.5rem;
}
@media only screen and (max-width: 75em) {
  .map__bus {
    margin: 1.5rem;
  }
}
@media only screen and (max-width: 68.75em) {
  .map__bus {
    margin: 1.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .map__bus {
    margin: 0.5rem;
  }
  .map__bus:last-child {
    margin-bottom: 3rem;
  }
}
.map__bus-logo {
  margin-left: 2rem;
  height: 4rem;
  width: 4rem;
  fill: #f9b126;
}
@media only screen and (max-width: 75em) {
  .map__bus-logo {
    height: 3rem;
    width: 3rem;
  }
}
@media only screen and (max-width: 68.75em) {
  .map__bus-logo {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
  }
}
.map__bus-info {
  padding-left: 1rem;
  padding-right: 2rem;
  color: #4b7680;
  font-size: 1.5rem;
  font-weight: 500;
}
@media only screen and (max-width: 75em) {
  .map__bus-info {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 68.75em) {
  .map__bus-info {
    font-size: 1.2rem;
  }
}

.statistic {
  margin: 0 auto;
  width: 70%;
}
@media only screen and (max-width: 75em) {
  .statistic {
    width: 80%;
  }
}
@media only screen and (max-width: 68.75em) {
  .statistic {
    width: 85%;
  }
}
@media only screen and (max-width: 31.25em) {
  .statistic {
    width: 90%;
  }
}
.statistic__header {
  text-align: center;
  margin: 2.5rem 0 2.5rem 0;
}
.statistic__header-h2 {
  color: #4b7680;
  font-weight: 800;
  font-size: 3rem;
}
.statistic__header-p {
  margin-top: -1rem;
  color: #4b7680;
  font-size: 1.5rem;
}
.statistic__facts {
  width: 33%;
  display: inline-flex;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 68.75em) {
  .statistic__facts {
    width: 30%;
  }
}
@media only screen and (max-width: 31.25em) {
  .statistic__facts {
    width: 30%;
  }
}
.statistic__facts-icon {
  padding-right: 2rem;
  width: 6rem;
  height: 7.5rem;
}
@media only screen and (max-width: 37.5em) {
  .statistic__facts-icon {
    padding-right: 1rem;
    width: 3rem;
    height: 4rem;
    width: 100%;
  }
}
.statistic__facts-h3 {
  font-size: 2rem;
  color: #4b7680;
}
@media only screen and (max-width: 37.5em) {
  .statistic__facts-h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .statistic__facts-h3 {
    font-size: 1rem;
  }
}
.statistic__facts-p {
  margin-top: -1rem;
  color: #5cc7d2;
  font-size: 2.5rem;
  font-weight: 900;
}
@media only screen and (max-width: 37.5em) {
  .statistic__facts-p {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
  }
}
.statistic__reviews {
  box-shadow: 0px 17px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 2rem 2rem auto;
  padding: 3rem;
  border: 1px solid transparent;
  display: inline-block;
  width: 45%;
}
@media only screen and (max-width: 68.75em) {
  .statistic__reviews {
    width: 45%;
    margin: 1rem 1rem auto;
  }
}
@media only screen and (max-width: 56.25em) {
  .statistic__reviews {
    width: 45%;
    margin: 1rem 1rem auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .statistic__reviews {
    margin: 0;
    width: 100%;
  }
}
.statistic__reviews-h2 {
  color: #4b7680;
  font-weight: 800;
  font-size: 2.5rem;
}
@media only screen and (max-width: 37.5em) {
  .statistic__reviews-h2 {
    font-size: 1.5rem;
  }
}
.statistic__reviews-p {
  color: #4b7680;
}

.reviews__number {
  margin-left: 8rem;
  margin-bottom: 15rem;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 56.25em) {
  .reviews__number {
    margin-left: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .reviews__number {
    margin-left: 4rem;
  }
}
.reviews__number-span {
  cursor: pointer;
  text-align: center;
  margin-right: 1rem;
  margin-top: 3rem;
  padding: 2rem;
  box-shadow: 0px 17px 25px 0px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  border: 1px solid transparent;
  transition: all 0.5s;
}

.reviews__number-span:hover {
  transform: scale(1.1);
}

.background-primary {
  background-color: #f9b126;
}
.reviews__number-icon {
  margin-top: 1rem;
  width: 8rem;
  height: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .reviews__number-icon {
    width: 6rem;
    height: 6rem;
  }
}
.reviews__number-h4 {
  font-size: 2rem;
  color: #4b7680;
}
@media only screen and (max-width: 56.25em) {
  .reviews__number-h4 {
    font-size: 1.5rem;
  }
}
.reviews__number-p {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
  color: #5cc7d2;
  font-size: 2.5rem;
  font-weight: 900;
}
@media only screen and (max-width: 56.25em) {
  .reviews__number-p {
    font-size: 1.5rem;
  }
}

.pricing {
  margin-top: 5rem;
}
.pricing__heading {
  text-align: center;
}
.pricing__heading-p {
  color: #4b7680;
  margin-top: -1rem;
  font-size: 1.5rem;
}
.pricing__nav {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pricing__nav-btn {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  background-color: #fff;
  border: 2px solid #eaedee;
  border-radius: 0.5rem;
  padding: 1.5rem;
  color: #4b7680;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
@media only screen and (max-width: 31.25em) {
  .pricing__nav-btn {
    width: 100%;
    margin: 0.25rem auto;
  }
}
.pricing__nav-btn:focus {
  outline: none;
}
.pricing__nav-btn:hover {
  color: #fff;
  background-color: #f9b126;
  transition: 0.3s;
  box-shadow: 0 2.5rem 4rem rgba(153, 118, 118, 0.3);
}
.pricing__personal {
  margin-top: 5rem;
}
.pricing__personal-h3 {
  text-align: center;
  color: #4b7680;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.pricing__personal-table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border-style: hidden;
  box-shadow: 0 0 0 2px #eaedee;
}
@media only screen and (max-width: 75em) {
  .pricing__personal-table {
    width: 75%;
  }
}
@media only screen and (max-width: 68.75em) {
  .pricing__personal-table {
    width: 95%;
  }
}
.pricing__personal-btn {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  width: 60%;
}
@media only screen and (max-width: 75em) {
  .pricing__personal-btn {
    margin-left: 27.5%;
  }
}
@media only screen and (max-width: 68.75em) {
  .pricing__personal-btn {
    margin-left: 37%;
  }
}
.pricing__personal-btn-1 {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: #f9b126;
  border: none;
  padding: 1rem;
  color: #b45b02;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  flex: 0 0 22%;
}
@media only screen and (max-width: 31.25em) {
  .pricing__personal-btn-1 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 75em) {
  .pricing__personal-btn-1 {
    flex: 0 0 28%;
  }
}
@media only screen and (max-width: 68.75em) {
  .pricing__personal-btn-1 {
    flex: 0 0 35%;
  }
}
.pricing__personal-btn-1:hover {
  transform: scale(1.1);
  box-shadow: 0 2.5rem 4rem rgba(153, 118, 118, 0.3);
}
.pricing__personal-btn-2 {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: #f9b126;
  border: none;
  padding: 1rem;
  color: #b45b02;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  flex: 0 0 22%;
}
@media only screen and (max-width: 31.25em) {
  .pricing__personal-btn-2 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 75em) {
  .pricing__personal-btn-2 {
    flex: 0 0 28%;
  }
}
@media only screen and (max-width: 68.75em) {
  .pricing__personal-btn-2 {
    flex: 0 0 35%;
  }
}
.pricing__personal-btn-2:hover {
  transform: scale(1.1);
  box-shadow: 0 2.5rem 4rem rgba(153, 118, 118, 0.3);
}
.pricing__advance {
  margin-top: 5rem;
}
.pricing__advance-h3 {
  text-align: center;
  color: #4b7680;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.pricing__advance-table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border-style: hidden;
  box-shadow: 0 0 0 2px #eaedee;
}
@media only screen and (max-width: 75em) {
  .pricing__advance-table {
    width: 75%;
  }
}
@media only screen and (max-width: 68.75em) {
  .pricing__advance-table {
    width: 95%;
  }
}
.pricing__advance-btn {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  width: 60%;
}
@media only screen and (max-width: 75em) {
  .pricing__advance-btn {
    margin-left: 27.5%;
  }
}
@media only screen and (max-width: 68.75em) {
  .pricing__advance-btn {
    margin-left: 38%;
  }
}
.pricing__advance-btn-1 {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: #f9b126;
  border: none;
  padding: 1rem;
  color: #b45b02;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  flex: 0 0 18.5%;
}
@media only screen and (max-width: 31.25em) {
  .pricing__advance-btn-1 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 75em) {
  .pricing__advance-btn-1 {
    flex: 0 0 22%;
  }
}
@media only screen and (max-width: 68.75em) {
  .pricing__advance-btn-1 {
    flex: 0 0 27%;
  }
}
.pricing__advance-btn-1:hover {
  transform: scale(1.1);
  box-shadow: 0 2.5rem 4rem rgba(153, 118, 118, 0.3);
}
.pricing__advance-btn-2 {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: #f9b126;
  border: none;
  padding: 1rem;
  color: #b45b02;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  flex: 0 0 18.5%;
}
@media only screen and (max-width: 31.25em) {
  .pricing__advance-btn-2 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 75em) {
  .pricing__advance-btn-2 {
    flex: 0 0 25.5%;
  }
}
@media only screen and (max-width: 68.75em) {
  .pricing__advance-btn-2 {
    flex: 0 0 31.5%;
  }
}
.pricing__advance-btn-2:hover {
  transform: scale(1.1);
  box-shadow: 0 2.5rem 4rem rgba(153, 118, 118, 0.3);
}
.pricing__icon {
  padding: 0 0.5rem;
}
.pricing__onetime {
  margin-top: 5rem;
}
.pricing__onetime-h3 {
  text-align: center;
  color: #4b7680;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.pricing__onetime-header {
  text-align: center;
}
.pricing__onetime-divs {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 1.5rem;
  align-items: center;
  justify-items: center;
}
@media only screen and (max-width: 31.25em) {
  .pricing__onetime-divs {
    margin-right: 7.5rem;
  }
}
.pricing__onetime-1,
.pricing__onetime-2,
.pricing__onetime-3 {
  border: 2px solid #eaedee;
  border-radius: 0.75rem;
}
.pricing__onetime-link {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
}
.pricing__onetime-a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #f9b126;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
.pricing__onetime-a:hover {
  color: #57c7d2;
}
.pricing__onetime-ul {
  list-style: none;
  font-size: 1.5rem;
  color: #2d6977;
  padding: 2rem;
}
.pricing__onetime-li {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.pricing__onetime-info {
  padding-top: 2rem;
  text-align: center;
  background-color: #f5f5f5;
}
.pricing__onetime-footer {
  background: #57c7d2;
  text-align: center;
}
.pricing__onetime-btn {
  padding: 2rem;
  font-weight: 700;
  font-size: 2.2rem;
  border: none;
  background: #57c7d2;
  color: #327d89;
  cursor: pointer;
}

td,
tr,
th {
  text-align: center;
  border: 2px solid #eaedee;
  font-weight: 700;
  color: #11565d;
  font-size: 1.25rem;
  padding: 1rem;
}

.lessons {
  width: 50%;
  margin: 5rem auto;
}
@media only screen and (max-width: 68.75em) {
  .lessons {
    width: 100%;
  }
}
@media only screen and (max-width: 31.25em) {
  .lessons {
    margin: 1rem auto;
  }
}
.lessons__container {
  display: flex;
}
@media only screen and (max-width: 31.25em) {
  .lessons__container {
    flex-wrap: wrap;
  }
}
.lessons__header {
  flex: 0 0 25%;
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f8b027;
  line-height: 3rem;
  padding: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .lessons__header {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .lessons__header {
    flex: 0 0 100%;
  }
}
.lessons__header::after {
  margin-top: 1rem;
  background-color: #59c5d1;
  height: 4px;
  width: 5.5rem;
  content: '';
  display: block;
}
.lessons__paragraph {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #78979e;
  margin-left: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .lessons__paragraph {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .lessons__paragraph {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-right: 1rem;
  }
}

.methods {
  width: 60%;
  margin: 5rem auto;
}
@media only screen and (max-width: 75em) {
  .methods {
    width: 90%;
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .methods {
    width: 95%;
    margin-left: 1rem;
  }
}
.methods__header {
  text-align: center;
}
.methods__header-h2 {
  color: #4b7680;
  font-weight: 800;
  font-size: 3rem;
}
.methods__header-p {
  color: #4b7680;
  font-size: 1.5rem;
  margin-top: -1rem;
}
.methods__container-div-left {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  justify-content: center;
  grid-column-gap: 1.5rem;
}
.methods__container-info-left {
  grid-row: 1 / 1;
  grid-column: 2 / -1;
}
@media only screen and (max-width: 56.25em) {
  .methods__container-info-left {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
  }
}
.methods__container-img-left {
  width: 20rem;
  height: 20rem;
  grid-column: 1 / span 1;
}
@media only screen and (max-width: 68.75em) {
  .methods__container-img-left {
    width: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .methods__container-img-left {
    display: none;
  }
}
.methods__container-div-right {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  justify-content: center;
  grid-column-gap: 1.5rem;
}
.methods__container-info-right {
  grid-row: 1 / 1;
  grid-column: 1 / span 7;
}
@media only screen and (max-width: 56.25em) {
  .methods__container-info-right {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
  }
}
.methods__container-img-right {
  width: 22rem;
  height: 22rem;
  grid-column: 8 / span 2;
}
@media only screen and (max-width: 56.25em) {
  .methods__container-img-right {
    display: none;
  }
}
.methods__container-h::after {
  margin-top: 1rem;
  background-color: #59c5d1;
  height: 4px;
  width: 5.5rem;
  content: '';
  display: block;
}
.methods__container-p {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #78979e;
}
@media only screen and (max-width: 56.25em) {
  .methods__container-p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .methods__container-p {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-right: 1rem;
  }
}
