.form {
  margin: 0 auto;
  width: 45%;
  border-radius: 15px;
  background-color: #fff;
  padding-bottom: 2rem;

  @media only screen and (max-width: $bp-large) {
    width: 70%;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 90%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1rem;
    width: 90%;
  }

  &__ellipse {
    position: absolute;
    left: 71%;
    top: 65%;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }

    &-left {
      z-index: 999;
      position: absolute;
      left: 19%;
      top: 59%;
      @media only screen and (max-width: $bp-large) {
        display: none;
      }
    }
  }

  &__path95 {
    position: absolute;
    left: 21%;
    top: 70%;
    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__size {
    width: 8rem;
    height: 20rem;
    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__size-1 {
    width: 15rem;
    height: 15rem;
    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__path93 {
    position: absolute;
    left: 73%;
    top: 75%;
    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__logo {
    display: block;
    position: absolute;
    height: 17rem;
    width: 17rem;
    top: 10%;
    left: 44%;

    @media only screen and (max-width: $bp-large) {
      left: 40%;
    }

    @media only screen and (max-width: $bp-medium) {
      left: 40%;
    }

    @media only screen and (max-width: $bp-small) {
      top: 18%;
      height: 12rem;
      width: 12rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      left: 35%;
      height: 12rem;
      width: 12rem;
    }
  }

  &__left {
    cursor: pointer;
    background: #fff;
    padding: 10px 15px;
    display: inline-block;
    transform: rotate(-90deg);
    position: fixed;
    top: 40%;
    left: -6rem;
    border-radius: 0px 0px 10px 10px;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }

    &-contact {
      font-size: 1.5rem;
      color: #4a7681;
      font-weight: 700;
      cursor: pointer;
    }
  }

  &__right {
    cursor: pointer;
    background: #fff;
    padding: 10px 15px;
    display: inline-block;
    transform: rotate(-90deg);
    position: fixed;
    top: 40%;
    right: -9.7rem;
    border-radius: 10px 10px 0px 0px;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__h1 {
    text-align: center;
    color: #fff;
    padding: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-color: #f9b126;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1rem;
    }
  }

  &__group {
    height: 25%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    // align-items: center;
    // justify-items: center;
    grid-gap: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  &__label {
    display: flex;
    // justify-content: center;
    // align-items: center;
    border-radius: 5rem;
    box-shadow: 0px 17px 25px 0px rgba(153, 118, 118, 0.3);
    padding: 1rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin: 0 2rem 0 2rem;

    @media only screen and (max-width: $bp-small) {
      // margin-right: 15rem;
    }
  }

  &__input {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &__btndiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  &__btn {
    width: 80%;
    background-color: #56c7d3;
    border-radius: 3rem;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
    align-items: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
